[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = git@github.com:Cyan4973/xxHash.git
[submodule "third_party/english-words"]
	path = third_party/english-words
	url = git@github.com:dwyl/english-words.git
[submodule "third_party/Halide"]
	path = third_party/Halide
	url = git@github.com:halide/Halide.git
